<?xml version='1.0' encoding='utf-8'?>
<widget id="com.phonegap.accelerometer_geolocation"
	version="1.0.0" xmlns="http://www.w3.org/ns/widgets" 
	xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Accelerometer And Geolocation</name>
    <description>
      some stuff.
    </description>
    <author email="rajatjeewooth@hotmail.com" href="http://phonegap.com">
       ME!
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
